.navbar-brand img {
  height: 100%
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.back-to-top {
  bottom: 20px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 1000;
}
.footer {
  bottom: 0;
  height: 60px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
}
.incident-link {
  display: inline-block;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rr-link {
  color:#ddd;
}
.rr-link:hover {
  text-decoration: none;
}
.title {
  font-size: 0.8em;
  margin-bottom: 1.5em;
}
.status-passed {
  background-color: green;
  color: white;
}
.status-failed {
  background-color: red;
  color: black;
}
.status-stopped {
  background-color: lightgrey;
  color: black;
}
.summary-list {
  padding-left: 0;
}
.summary-list li {
  display: inline-block;
  list-style-type: none;
  padding-bottom: 0.2em;
  padding-right: 0.2em;
}
.table thead tr th {
  border-top: 0 !important;
}
