---
name: checkstyle (NPM)
# yamllint disable-line rule:truthy
on: [push, pull_request]
jobs:
  checkstyle-npm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v6.2.0
      with:
        node-version: '22'
    - name: Install JS dependencies
      run: make install-deps-js
    - name: Run checkstyle
      run: |
        if [ "${{ github.event_name }}" == "pull_request" ]; then
          make checkstyle-npm COMMIT_ARGS="--from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose"
        else
          make checkstyle-npm COMMIT_ARGS="--last --verbose"
        fi
