---
name: checkstyle (NPM)
# yamllint disable-line rule:truthy
on: [push, pull_request]
jobs:
  checkstyle-npm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6.2.0
      with:
        node-version: '22'
    - name: Install JS dependencies
      run: make install-deps-js
    - name: Run checkstyle
      run: make checkstyle-npm
