---
name: eslint
# yamllint disable-line rule:truthy
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6.2.0
      with:
        node-version: '22'
    - name: npm clean-install
      run: npm clean-install --ignore-scripts
    - name: npm run lint
      run: npm run lint
