name: linux
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v5
      - uses: shogo82148/actions-setup-perl@v1
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: '22'
      - name: node -v
        run: node -v
      - name: Install JS dependencies
        run: make install-deps-js
      - name: perl -V
        run: perl -V
      - name: Install dependencies
        run: |
          make install-deps-ubuntu install-deps-cpanm
      - name: Build assets
        run: make build
      - name: Run tests
        run: make test-unit
      - name: Run UI tests
        run: make test-ui
      - name: Ensure full coverage
        run: make test-coverage
      - name: Check assets
        run: ls public/asset
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cover -report Coveralls
